@property --progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}

:root {
    --font-base: "Space Mono", monospace;
    --font-arabic-elegant : "Noto Kufi Arabic", sans-serif;
    --font-arabic-reading: "Noto Sans Arabic", sans-serif;
    --font-arabic-size: 25px;
    --transition: 200ms linear;
    --color-dark: #1f1a38;
    --color-dark-glare: #989ea9;
    --color-success: #76f7bf;
}

body {
    min-height: 75vh;
    display: grid;
    place-items: center;
    background: #f3f3f3;
    font-family: var(--font-base);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

.arabic-elegant {
    font-family: var(--font-arabic-elegant);
}

.arabic {
    font-family: var(--font-arabic);
    font-size: var(--font-arabic-size);
}

[role="progressbar"] {
    --size: 95vw;
    --bar-width: 30px;

    font-size: 2rem;
    width: var(--size);
    height: var(--size);

    background: conic-gradient(
        var(--color-dark) var(--progress, 0),
        var(--color-dark-glare) 0%
    );
    margin: 2 rem auto;
    border-radius: 50%;
    margin-top: 0;

    display: grid;
    place-items: center;

    transition: --progress 500ms linear;

    .text-wrapper {
        background: white;
        border-radius: inherit;
        height: calc(var(--size) - var(--bar-width));
        width: calc(var(--size) - var(--bar-width));
        font-size: 14px;
        text-align: center;
    }

    .text-wrapper i,
    .text-wrapper::before {
        content: '';
        float: left;
        height: 100%;
        width: 50%;
        shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--bar-width)), #fff 0);
    }

    .text-wrapper i {
        float: right;
        shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--bar-width)), #fff 0);
    }
}

[role="progressbar"][aria-valuenow="100"] div {
    animation: progressComplete 0s forwards;
    animation-delay: 1000ms;
}

@media only screen and (min-width: 600px) {
    [role="progressbar"] {--size: 80vw;}
}

@media only screen and (min-width: 768px) {
    [role="progressbar"] {--size: 60vw; font-size: 20px;}
}

@media only screen and (min-width: 1080px) {
    [role="progressbar"] {--size: 50vw;}
}

@media only screen and (min-width: 1200px) {
    [role="progressbar"] {--size: 40vw; font-size: 22px;}
}

@keyframes progressComplete {
    to {
        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODUiIGhlaWdodD0iODUiIHZpZXdCb3g9IjAgMCA4NSA4NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM1LjQyMzcgNTMuNzMyN0w2Ny45Nzg3IDIxLjE3NzdMNzIuOTg5NSAyNi4xODQyTDM1LjQxOTUgNjMuNzVMMTIuODg2IDQxLjIxMjJMMTcuODkyNSAzNi4yMDE1TDM1LjQyMzcgNTMuNzMyN1oiIGZpbGw9IiMxZjFhMzgiLz4KPC9zdmc+Cg==");
        background-color: var(--color-success);
    }
}

.main-menu {
    display: grid;
    place-items: center;
}

#prayer-controls {
    display: grid;
    place-items: center;
    margin-top: 1em;
}